!!!
%html
  %head
    %title
    %link{rel: "stylesheet", type: "text/css", href: "css/main.css"}
    %script{type: "text/javascript", src: "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
    %script{type: "text/javascript", src: "js/application.js"}
  %body
    #wrapper
      #topbar
        %a{href: "http://actsasbuffoon.com/rocket-io"}
          %img#logo{src: "images/logo.png"}
        %h1 Rocket.io Documentation
      #container
        .row
          #navigation
            %h3 Pages
            %ul
              - pages.each do |pg|
                %li
                  - file_name = pg.split("/").last.split(".").first
                  %a{href: "#{file_name}.html"}= file_name.gsub("_", " ")
            %h3 Ruby Source
            %ul
              - rb_files.each do |pg|
                %li
                  - file_name = pg.split("/")[4..-1].join("/")
                  %a{href: "rocco_rb/lib/#{file_name}"}= file_name
            %h3 Javascript Source
            %ul
              - js_files.each do |pg|
                %li
                  - file_name = pg.split("/")[6..-1].join("/")
                  %a{href: "rocco_js/lib/public/javascripts/#{file_name}"}= file_name
          #content
            %h2#content_header= current_file.split("/")[2..-1].join("/")
            = yield
      %img.cloud#cloud1{src: "images/cloud1.png"}
      %img.cloud#cloud2{src: "images/cloud2.png"}
      %img.cloud#cloud3{src: "images/cloud3.png"}
      %img.cloud#cloud4{src: "images/cloud4.png"}
      %img.cloud#cloud5{src: "images/cloud5.png"}
      %img.cloud#cloud6{src: "images/cloud6.png"}
      %img.cloud#cloud7{src: "images/cloud7.png"}
      #footer
        %p Rocket.io and all associated content are licensed under the MIT license.